#!/usr/bin/chat
#change the above line if the chat executable is in a different place.
#an example of a "Chat" database
"this will be printed to stderr
'this will be printed to stdout

(apple & ( orange | lemon ) ~ pine cones)
9You must have a citrus fruit and an apple.
3you do not have a pine cone but you have an apple.
2what was % suppose to mean?

(=your sentence matches this one exactly)
2you are unimaginative.
9you lack imagination.
